h1 {
  font-family: Arial;
  font-style: italic;
  color: white;
  -webkit-text-stroke: .8px blue;
  font-size: 72px;
  margin: 0;
  height: 80px;
  display: block;
  text-align: center
}

.main {
  background: gray;
}

.background {
  background: url("./arena.jpg");
  width: 1200px;
  height: 596px;
  margin: 15px auto;
  /* display: flex; */
}

.container {
  width: 1200px;
  height: 516px;
  display: flex;
}

.left {
  width: 600px;
  height: 516px;
  position: relative;
}

.rules {
  background-color: rgba(255,255,255,0.8);
  width: 300px;
  height: 345px;
  position: absolute;
  right: 20px;
  top: 15px;
  font-family: "Arial";
  padding: 0 10px;
  color: blue;
}

.right {
  width: 600px;
  height: 516px;
  position: relative;
}

#game-canvas {
  border: 1px solid black;
  width: 260px;
  height: 450px;
  position: absolute;
  left: 55px;
  top: 15px;
}

canvas {
  width: 260px;
  height: 450px;
}
